<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Luxoft_QA" verbose="1" >

  <test name="Luxoft_Countwords_Tests" >
    <classes>
      <class name="Countwords_Package.Testclass_Countwords"/>   
    </classes>
 </test>
</suite>